{% extends 'base.html' %}

{% block content %}

<h1>Books</h1>


<!-- Modal 1 with id="create-book"-->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  
  <!-- Modal 2 with id="modal" -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  
  <!-- Create book button -->
  <button id="create-book" class="btn btn-primary" type="button" name="button">Create book</button>
  <br>


{%for object in object_list%}
    {{object}}
{%endfor%}
{% endblock content %}


{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
        
            $("#create-book").modalForm({
                formURL: "{% url 'create_book' %}"
            });
        
        });
        </script>
    
{% endblock js %}